<mat-card>
    <mat-card-content>
        <h1 style="text-align: center;"> <b>Almacenes</b></h1>
        <!-- Agregar Informcion del formulario -->
        <form [formGroup]="frmAlmacen" autocomplete="off">
            <div class="row">
                <div class="col-sm-3">
                    <label><b>Descripcion:</b></label>
                    <input formControlName="descripcion" type="text" class="form-control"
                        placeholder="Ingrese Descripcion">
                        <span *ngIf="frmAlmacen.controls['descripcion'].invalid"><b style=" color: rgb(235, 56, 29);">* Nombre Requerido</b></span> 
                </div>
                <div class="col-sm-3">
                    <label><b>Ubicacion:</b></label>
                    <input formControlName="ubicacion" type="text" class="form-control"
                        placeholder="Ingrese Ubicacion">
                        <span *ngIf="frmAlmacen.controls['ubicacion'].invalid"><b style=" color: rgb(235, 56, 29);">* Nombre Requerido</b></span> 
                
                    </div>
            </div>


          
            <hr>
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button"  (click)="NuevoAlmacen()" [disabled]="BtnSpinner"  title="Resetear Formulario" class="btn btn-outline-primary">
                    Nuevo
                </button>
                <button *ngIf="BtnSpinner == false" type="submit"  (click)="Almacenar()" [disabled]="frmAlmacen.invalid"   title="Guardar Formulario" class="btn btn-outline-primary">
                    Guardar
                </button>
            </div>
        </form>
         
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <!-- En caso de haber tabla Agregar Aqui -->
    </mat-card-content>
</mat-card>

<div class="container-fluid">
    <div class="row pt-4">
        <div class="col-md-12 text-center mb-2" style="text-align: center;">
            <small> ©2022 CopyRight
                <span class="text-secondary font-weight-bold">Risega Dev. </span>
            </small>
        </div>
    </div>
</div>