<app-MsjEliminar></app-MsjEliminar>





<p-card header="Catalogo">
    <p-divider align="left">
        <div class="inline-flex align-items-center">
            <i class="pi pi-search"></i>
            <h3>{{ tablaBusqueda }}:</h3>
        </div>
    </p-divider>

    <form [formGroup]="frm" autocomplete="off">
        <div class="row">
            <div class="col-md-3">
                <label>Fecha Inicio:</label>
                <div class="p-field">
                    <p-calendar
                        dateFormat="dd-mm-yy"
                        pTooltip="Selecciona Una Fecha Inicial A Buscar" 
                        tooltipPosition="bottom"
                        formControlName="fechainicia" 
                        [showIcon]="true" 
                        inputId="icon"></p-calendar>
                </div>
            </div>
            <div class="col-md-3">
                <label>Fecha Fin:</label>
                <div class="p-field">
                    <p-calendar
                        dateFormat="dd-mm-yy"
                        pTooltip="Selecciona Una Fecha Final A Buscar" 
                        tooltipPosition="bottom"
                        formControlName="fechatermina"
                        [showIcon]="true" 
                        inputId="icon"></p-calendar>
                 </div>
            </div>
            <div class="col-md-3">
                <label>Estatus:</label>
                <div class="p-field">
                    <p-dropdown 
                    pTooltip="Filtra a los clientes por Estatus."
                    tooltipPosition="bottom" 
                    formControlName="id_estatus" 
                    [options]="lstestatus"
                    value="id" 
                    optionValue="id" 
                    optionLabel="descripcion">
                    </p-dropdown>
                </div>
            </div>
        </div>
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>Funciones Usuario:</b>
            </div>
        </p-divider>
        <button 
        pButton 
        pRipple 
        pTooltip="Reiniciar Fechas." 
        tooltipPosition="bottom" 
        type="button"
        icon="pi pi-replay"
        [loading]="isLoading"
        class="p-button-raised p-button-text"
        (click)="Nuevainfo()">
        Nueva Busqueda
        </button>
        
        <button 
        pButton 
        pRipple 
        pTooltip="Realiza La Busqueda." 
        tooltipPosition="bottom" 
        type="button"
        [loading]="isLoading"
        icon="pi pi-search"
        class="p-button-raised p-button-text"
        (click)="buscarinfo()">
        Realizar Busqueda
        </button>
    </form>
</p-card>


<p-card *ngIf="DataSource != null " header="Resultados">
    <p-table [value]="DataSource" dataKey="id" [tableStyle]="{ 'min-width': '75rem' }" 
        [paginator]="true"
        [rows]="10" [rowsPerPageOptions]="[5,10,25]" [paginator]="true">
        <ng-template pTemplate="header">
            <tr>
                <th pTooltip="seleccione un registro para modificar." tooltipPosition="top">Modificar: {{ tablaBusqueda }}</th>
                <th pTooltip="seleccione un registro para Eliminar."  tooltipPosition="top">Eliminar:  {{ tablaBusqueda }}</th>
                <th pTooltip="Clic Para Ordenar." 
                tooltipPosition="top"  *ngFor="let column of DataSourceColumnas" pSortableColumn="{{column}}">{{column}}<p-sortIcon
                        field="{{column}}"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-DataSource>
            <tr>
                <td>
                    <button 
                    pButton 
                    pRipple 
                    pTooltip="Realiza Navegacion para modificar la informacion." 
                    tooltipPosition="bottom" 
                    type="button"
                    [loading]="isLoading"
                    icon="pi pi-file-edit"
                    class="p-button-raised p-button-text"
                    (click)="modificar(DataSource)">
                    &nbsp;Modificar
                    </button>
                    
                </td>
                <td>
                    <p-toast></p-toast>
                    <p-confirmDialog></p-confirmDialog>
                    <button 
                    pButton 
                    pRipple 
                    pTooltip="Eliminar el Registro." 
                    tooltipPosition="bottom" 
                    type="button"
                    [loading]="isLoading"
                    icon="pi pi-trash"
                    class="p-button-raised p-button-text"
                    (click)="confirm2(DataSource)">
                    &nbsp;Eliminar
                    </button>


                </td>
                <td *ngFor="let value of Obtenervalor(DataSource)">{{ value }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No se encontraron registros.</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>