
        <h1 style="text-align: center;"> <b>Datos Basicos</b></h1>
        <form [formGroup]="frmDiametro" autocomplete="off">
            <div class="row">
                <div class="col-sm-4">
                    <label><b>Humero Paciente:</b></label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Medida en</span>
                        <span class="input-group-text">Cm</span>
                        <input formControlName="humero" type="number" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                      </div>
                </div>
                <div class="col-sm-4">
                    <label><b>Biestiloideo Paciente:</b></label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Medida en</span>
                        <span class="input-group-text">Cm</span>
                        <input formControlName="biestiloideo"  class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                      </div>
                </div>
                <div class="col-sm-4">
                    <label><b>Femur Paciente:</b></label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Medida en</span>
                        <span class="input-group-text">Cm</span>
                        <input formControlName="femur" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label><b>Paciente:</b></label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Nombre</span>
                        <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                      </div>
                </div>
                <div class="col-sm-4">
                    <label><b>Sexo:</b></label>
                    <select class="form-select"  formControlName="id_cg_sexo"  aria-label="Default select example">
                        <option value="-1" disabled selected>Selecciona un sexo</option>
                        <option  *ngFor="let sexo of lstSexo" [value]="sexo.id">{{sexo.descripcion}}</option>
                      </select>
                </div>
            </div>
     
            <hr>
            <div class="text-left">
                <button (click)="btnAlmacenar()" [disabled]="BtnSpinner" type="button" class="btn btn-outline-primary"
                    title="Guardar Datos">Guardar
                    <span *ngIf="BtnSpinner" class="spinner-border spinner-border-sm" role="status"></span>
                </button>
            </div>
        </form>
