<mat-card>
    <mat-card-content>
        <h1 style="text-align: center;"> <b>Datos Basicos</b></h1>
        <form [formGroup]="frmBasico" autocomplete="off">
            <div class="row">
                <div class="col-sm-3">
                    <label><b>Edad:</b></label>
                    <input  formControlName="edad" type="number" class="form-control" placeholder="Ingrese Edad">
                </div>
                <div class="col-sm-3">
                    <label><b>Peso Paciente:</b></label>
                    <div class="input-group mb-3">
                        <span  class="input-group-text">Peso en</span>
                        <span class="input-group-text">Kg</span>
                        <input formControlName="peso" type="number" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                      </div>
                </div>
                <div class="col-sm-3">
                    <label><b>Talla Paciente:</b></label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Talla en</span>
                        <span class="input-group-text">Cm</span>
                        <input formControlName="tallacm" type="number" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                      </div>
                </div>
                <div class="col-sm-3">
                    <label><b>Talla Paciente Sentado:</b></label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Talla en</span>
                        <span class="input-group-text">Cm</span>
                        <input  formControlName="tallasentado" type="number" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label><b>Paciente:</b></label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Nombre</span>
                        <input  type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                      </div>
                </div>
                <div class="col-sm-3">
                    <label><b>Sexo:</b></label>
                    <select class="form-select"  formControlName="id_cg_sexo"  aria-label="Default select example">
                        <option *ngFor="let sexo of lstSexo" [value]="sexo.id">{{sexo.descripcion}}</option>
                      </select>
                </div>
            </div>
     
            <hr>
            <div class="text-left">
                <button (click)="btnAlmacenar()" [disabled]="BtnSpinner" type="button" class="btn btn-outline-primary"
                    title="Guardar Datos">Guardar
                    <p-progressSpinner *ngIf="BtnSpinner" styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
                </button>
            </div>
        </form>

    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <!-- En caso de haber tabla Agregar Aqui -->
    </mat-card-content>
</mat-card>
