<p-card header="PRODUCTOS Y SERVICIOS">
    <!-- Agregar Informcion del formulario -->
    <form [formGroup]="frmProducto" autocomplete="off">
        <div class="row">
            <div class="col-sm-3">
                <div class="flex flex-column gap-2">
                    <label>descripcion</label>
                    <input pInputText pTooltip="Ingrese Descripcion: Producto / Servicio "
                        tooltipPosition="bottom" type="text" formControlName="descripcion" pInputText placeholder="Vacio" />
                    <p-message severity="error" text="Campo Es Obligatorio "
                        *ngIf="frmProducto.controls['descripcion'].invalid">
                    </p-message>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="flex flex-column gap-2">
                    <label>Importe</label>
                    <input pInputText pTooltip="Ingrese Un Importe Al Producto" tooltipPosition="bottom"
                        type="number" formControlName="importe" pInputText placeholder="Vacio" /> 
                </div>
                <p-message severity="error" text="Campo Es Obligatorio  No Se Permiten Numeros Negativos."
                *ngIf="frmProducto.controls['importe'].invalid">
                 </p-message>
            
            
            </div>

            <div class="col-sm-3">
                <div class="flex flex-column gap-2">
                    <label>Observaciones</label>
                    <input pTooltip="Agregue Sus Notas Observaciones Al Producto" tooltipPosition="bottom" type="text"
                        formControlName="observaciones" pInputText placeholder="Vacio" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="flex flex-column gap-2">
                    <label>Estatus:</label>
                    <p-dropdown pTooltip="Seleccione Un Estatus De Producto: Habilita O Inabilita Busquedas"
                        tooltipPosition="bottom" formControlName="id_app_producto_estatus" [options]="lstEstatus"
                        optionValue="id" optionLabel="descripcion">
                    </p-dropdown>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="flex flex-column gap-2">
                    <label>Clasificación:</label>
                    <p-dropdown pTooltip="Seleccione Una Clasificación: Sera Visible En Busquedas Por Clasificación."
                        tooltipPosition="bottom" formControlName="id_app_producto_clasificacion" [options]="lstClasificacion"
                        value="id" optionValue="id" optionLabel="descripcion">
                    </p-dropdown>
                </div>
            </div>
        </div>
      

        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>Funciones Usuario:</b>
            </div>
        </p-divider>

        <button 
            pButton 
            pRipple 
            pTooltip="Nuevo Formulario: Resetear Informcion."
            tooltipPosition="bottom"
            type="button"
            icon="pi pi-replay"
            [loading]="BtnSpinner"
            class="p-button-raised p-button-text"
            (click)="Nuevo()"
        >
        Nueva Busqueda
        </button>
    
        <button 
            pButton 
            pRipple 
            pTooltip="Almacenar La Informcion Del Formulario."
            tooltipPosition="bottom"
            type="button"
            icon="pi pi-save"
            [loading]="BtnSpinner"
            class="p-button-raised p-button-text"
            [disabled]="frmProducto.invalid"
            (click)="Almacenar()"
        >
        Guardar
        </button>
    </form>
</p-card>


<!-- ========================================================================================================================================================================================= -->
<!-- DIALOGOS Resuesta --->
<div class="card flex flex-column align-items-center gap-2">
    <p-dialog header="DEVELOPER ©2024" [(visible)]="visibleMjs" position="top">
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="fas fa-info-circle"> Dev info.</i>
            </div>
        </p-divider>
        <div class="row">
            <div class="col-mb-4">
                {{msjBody.titulo}}
                <i *ngIf="msjBody.msjTipo == 1" class="fa-solid fa-check fa-2xl" style=" color: green;">
                </i>
                <i *ngIf="msjBody.msjTipo == 2" class="fa-solid fa-circle-exclamation fa-2xl"
                    style=" color: orange;"></i>
                <i *ngIf="msjBody.msjTipo == 3" class="fa-solid fa-triangle-exclamation fa-2xl"
                    style=" color: red;"></i>
                <br>
                {{msjBody.mensaje}}
            </div>
            <div class="col-mb-4">
                {{msjBody.detalle}}
            </div>
        </div>
        <br>
        <hr>
    </p-dialog>
</div>