<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar color="primary">
            <span>Menú</span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list>
            
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar style="background-color: rgb(30, 59, 129);">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>
    <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
  </mat-sidenav-container>