<p-card header="Buscar">
    <form [formGroup]="frmLstProveedores" autocomplete="off">
        <div class="row">
            <div class="col-sm-4">
              <!--
                <mat-form-field color="accent">
                    <input (dateInput)="seleccionarFecha1($event.target)" formControlName="fecha1"
                        placeholder="Seleccionar Fecha" matInput [matDatepicker]="picker1">
                    <mat-hint>Fecha Inicio</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                -->
                <span *ngIf="frmLstProveedores.controls['fecha1'].invalid"><b style=" color: rgb(235, 56, 29);">* Fecha Requerida</b></span> 
            </div>
            <div class="col-sm-4">
                <label><b>Estatus:</b></label>
                <select class="form-select" formControlName="id_proveedor_estatus" placeholder="Seleccione Estatus"
                    aria-label="Default select example">
                    <option *ngFor="let item of lstestatus" [value]="item.id">{{item.descripcion}}</option>
                </select>
            </div>
            <div class="col-sm-4">
                <!--
                <mat-form-field color="accent">
                    <input (dateInput)="seleccionarFecha2($event.target)" placeholder="Seleccionar Fecha"
                        formControlName="fecha12" matInput [matDatepicker]="picker2">
                    <mat-hint>Fecha Final</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 color="primary"></mat-datepicker>
                </mat-form-field>
            -->
                <span *ngIf="frmLstProveedores.controls['fecha12'].invalid"><b style=" color: rgb(235, 56, 29);">* Fecha Requerida</b></span> 
             </div>
        </div>
        <hr>
            <button (click)="btnBuscar()" [disabled]="BtnSpinner" type="button"
                class="btn btn-outline-success" title="Realizar Busqueda">Buscar
                <span *ngIf="BtnSpinner" class="spinner-border spinner-border-sm" role="status"></span>
            </button>
        
    </form>
</p-card>

<hr>
<p-card header="Poveedores">
<p-table
        [value]="DataProveedores"
        dataKey="id"
        [tableStyle]="{ 'min-width': '75rem' }"
        (selectionChange)="onSelectionChange($event)"
        (selectAllChange)="onSelectAllChange($event)"
        [paginator]="true"
        [rows]="10"
        [loading]="loading"
        [globalFilterFields]="['nombre']"
        [rowsPerPageOptions]="[5,10,25]"
        [paginator]="true">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem"></th>
                <th pSortableColumn="nombre">Numero<p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                <th pSortableColumn="nombre">RFC<p-sortIcon field="rfc"></p-sortIcon></th>
                <th pSortableColumn="nombre">Codigo Postal<p-sortIcon field="cp"></p-sortIcon></th>
                <th pSortableColumn="nombre">Correo<p-sortIcon field="correo"></p-sortIcon></th>
                <th pSortableColumn="nombre">Telefono<p-sortIcon field="telefono"></p-sortIcon></th>
                <th pSortableColumn="nombre">Tipo<p-sortIcon field="tipo"></p-sortIcon></th>
            </tr>
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>
                    <p-columnFilter type="text" field="id"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="nombre"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="rfc"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="cp"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="correo"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="telefono"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="tipo"></p-columnFilter>
                </th>
               
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-DataProveedores>
            <tr>
                <td>
                    <p-tableCheckbox [value]="DataProveedores"></p-tableCheckbox>
                </td>
                <td>{{ DataProveedores.id }}</td>
                <td>{{ DataProveedores.nombre }}</td>
                <td>{{ DataProveedores.rfc }}</td>
                <td>{{ DataProveedores.cp }}</td>
                <td>{{ DataProveedores.correo }}</td>
                <td>{{ DataProveedores.telefono }}</td>
                <td>{{ DataProveedores.tipo }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No se encontraron registros.</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>