<p-card header="Buscar">
    <form [formGroup]="frmLstProveedores" autocomplete="off">
        <div class="row">
            <div class="col-sm-4">
                <mat-form-field color="accent">
                    <input (dateInput)="seleccionarFecha1($event.target)" formControlName="fecha1"
                        placeholder="Seleccionar Fecha" matInput [matDatepicker]="picker1">
                    <mat-hint>Fecha Inicio</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <span *ngIf="frmLstProveedores.controls['fecha1'].invalid"><b style=" color: rgb(235, 56, 29);">* Fecha Requerida</b></span> 
            </div>
            <div class="col-sm-4">
                <label><b>Estatus:</b></label>
                <select class="form-select" formControlName="id_proveedor_estatus" placeholder="Seleccione Estatus"
                    aria-label="Default select example">
                    <option *ngFor="let item of lstestatus" [value]="item.id">{{item.descripcion}}</option>
                </select>
            </div>
            <div class="col-sm-4">
                <mat-form-field color="accent">
                    <input (dateInput)="seleccionarFecha2($event.target)" placeholder="Seleccionar Fecha"
                        formControlName="fecha12" matInput [matDatepicker]="picker2">
                    <mat-hint>Fecha Final</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 color="primary"></mat-datepicker>
                </mat-form-field>
                <span *ngIf="frmLstProveedores.controls['fecha12'].invalid"><b style=" color: rgb(235, 56, 29);">* Fecha Requerida</b></span> 
             </div>
        </div>
        <hr>
            <button (click)="btnBuscar()" [disabled]="BtnSpinner" type="button"
                class="btn btn-outline-success" title="Realizar Busqueda">Buscar
                <span *ngIf="BtnSpinner" class="spinner-border spinner-border-sm" role="status"></span>
            </button>
        
    </form>
</p-card>
<hr>
<p-card header="Poveedores">
    <p-table #dt [value]="DataProveedores" [(selection)]="selectedCustomers" dataKey="id" [rowHover]="true" [rows]="5"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25]" [loading]="loading" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
        [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']">
        <ng-template pTemplate="caption">
            <div class="table-header">
                <b>Listado</b>

            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nombre" style="min-width: 14rem">
                    <div class="flex justify-content-between align-items-center">
                        Nombre
                        <p-sortIcon field="nombre"></p-sortIcon>
                        <p-columnFilter type="text" field="nombre" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="country.name" style="min-width: 14rem">
                    <div class="flex justify-content-between align-items-center">
                        Country
                        <p-sortIcon field="country.name"></p-sortIcon>
                        <p-columnFilter type="text" field="country.name" display="menu"
                            class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="representative.name" style="min-width: 14rem">
                    <div class="flex justify-content-between align-items-center">
                        Agent
                        <p-sortIcon field="representative.name"></p-sortIcon>
                        <p-columnFilter field="representative" matchMode="in" display="menu" [showMatchModes]="false"
                            [showOperator]="false" [showAddButton]="false" class="ml-auto">
                            <ng-template pTemplate="header">
                                <div class="px-3 pt-3 pb-0">
                                    <span class="font-bold">Agent Picker</span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">

                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="date" style="min-width: 10rem">
                    <div class="flex justify-content-between align-items-center">
                        Date
                        <p-sortIcon field="date"></p-sortIcon>
                        <p-columnFilter type="date" field="date" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="balance" style="min-width: 10rem">
                    <div class="flex justify-content-between align-items-center">
                        Balance
                        <p-sortIcon field="balance"></p-sortIcon>
                        <p-columnFilter type="numeric" field="balance" display="menu" currency="USD"
                            class="ml-auto"></p-columnFilter>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr class="p-selectable-row">
                <td>
                    <span class="p-column-title">Name</span>
                    {{ customer.name }}
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">{{ customer.country.name }}</span>
                </td>
                <td>
                    <span class="p-column-title">Representative</span>
                    <img [alt]="customer.representative.name"
                        src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ customer.representative.image }}"
                        width="32" style="vertical-align: middle" />
                    <span class="ml-1 vertical-align-middle">{{ customer.representative.name }}</span>
                </td>
                <td>
                    <span class="p-column-title">Date</span>
                    {{ customer.date | date: 'MM/dd/yyyy' }}
                </td>
                <td>
                    <span class="p-column-title">Balance</span>
                    {{ customer.balance | currency: 'USD':'symbol' }}
                </td>
                <td>
                    <span class="p-column-title">Status</span>

                </td>
                <td>
                    <span class="p-column-title">Activity</span>

                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No se encontraron registros.</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>