<div class="row">
    <div class="col-sm-3">
        <label class="labelOne"> Nombre: </label>
        <input class="inputOne" type="text">

    </div>
    <div class="col-sm-3">
        <label class="labelOne"> Paterno: </label>
        <input class="inputOne" type="text">

    </div>
    <div class="col-sm-3">
        <label class="labelOne"> Materno: </label>
        <input class="inputOne" type="text">
    </div>
    <div class="col-sm-3">
        <label class="labelOne"> CURP: </label>
        <input class="inputOne" type="text">
    </div>

</div>



<div class="row">
    <div class="col-sm-3">
        <label class="labelOne"> Paterno: </label>
        <input class="inputOne" type="text">
    </div>
    <div class="col-sm-3">
        <label class="labelOne"> Materno: </label>
        <input class="inputOne" type="text">
    </div>
    <div class="col-sm-3">
        <label class="labelOne"> Correo: </label>
        <input class="inputOne" type="text">
    </div>
    <div class="col-sm-3">
        <label class="labelOne"> CURP: </label>
        <input class="inputOne" type="text">
    </div>

</div>


<div class="input-group">
    <span class="input-group-text">$</span>
    <input type="text" class="form-control inputOne" aria-label="Dollar amount (with dot and two decimal places)">
    <span class="input-group-text">Correo @: </span>
    <button type="button" class="btn btn-outline-info"> Buscar </button>
</div>


<div class="btn-group" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-primary">Left</button>
    <button type="button" class="btn btn-outline-primary">Middle</button>
    <button type="button" class="btn btn-outline-primary">Right</button>
</div>


<div class="btn-group" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>

    <button type="button" class="btn btn-link">Link</button>
</div>