<div class="container-fluid">
    <p-menubar>
        <ng-template pTemplate="start">
            <img (click)="sidebarVisible = true" src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40"
                class="mr-2" />
        </ng-template>
    </p-menubar>

    <p-divider></p-divider>

    <p-sidebar [(visible)]="sidebarVisible">
        <h3>Menu</h3>
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>Accesos</b>
            </div>
        </p-divider>


        <p-accordion [multiple]="true" [activeIndex]="[]" *ngFor="let grupo of items">
            <p-accordionTab header="{{ grupo[0].label }}">
                <ol>
                    <li *ngFor="let item of grupo[0].items">
                        <button 
                            pButton pRipple type="button"
                            class="p-button-raised p-button-text"
                            (click)="navigateToUrl(item.url)">
                            <i [class]="item.icon">-</i> {{ item.label }}
                        </button>
                        <p-divider></p-divider>
                    </li>
                </ol>
            </p-accordionTab>
        </p-accordion>

        <div class="card">
            <div class="flex align-items-center justify-content-center mb-4">
                <a (click)="changeTheme('saga-blue')" class="mr-3 cursor-pointer">
                    <img src="assets/images/themes/saga-blue.png" width="50">
                </a>
                <a (click)="changeTheme('vela-blue')" class="mr-3 cursor-pointer">
                    <img src="assets/images/themes/vela-blue.png" width="50">
                </a>
                <a (click)="changeTheme('arya-blue')" class="mr-3 cursor-pointer">
                    <img src="assets/images/themes/arya-blue.png" width="50">
                </a>
                <a (click)="changeTheme('md-light-indigo')" class="mr-3 cursor-pointer">
                    <img src="assets/images/themes/md-light-indigo.svg" width="50">
                </a>
                <a (click)="changeTheme('md-dark-indigo')" class="mr-3 cursor-pointer">
                    <img src="assets/images/themes/md-dark-indigo.svg" width="50">
                </a>
                <a (click)="changeTheme('bootstrap4-light-purple')" class="mr-3 cursor-pointer">
                    <img src="assets/images/themes/bootstrap4-light-purple.svg" width="50">
                </a>
                <a (click)="changeTheme('bootstrap4-dark-purple')" class="mr-3 cursor-pointer">
                    <img src="assets/images/themes/bootstrap4-dark-purple.svg" width="50">
                </a>
            </div>
        </div>
    </p-sidebar>
    <router-outlet></router-outlet>
</div>