<div class="content-graphs">
    <mat-card >
      <mat-card-content >
          <h1 style="text-align: center;"><b>Resultados:</b></h1>
          <canvas baseChart class="chart"
          [data]="pieChartData"
          [type]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins">
          </canvas>
          <mat-divider></mat-divider>  
      </mat-card-content>
    </mat-card>
  </div>
  
  <div class="container-fluid">
    <div class="row pt-4">
        <div class="col-md-12 text-center mb-2" style="text-align: center;">
            <small> ©2022 CopyRight
                <span class="text-secondary font-weight-bold">Elizandro Dev. </span>
            </small>
        </div>
    </div>
  </div>
  