<main>
  <section class="text-center container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"><b>Resultados</b></h1>
        <p class="lead text-muted"><b>Developer node angular.</b></p>
      </div>
    </div>
  </section>
  <div class="album bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <h1 style="text-align: center;"><b>Resultados:</b></h1>
            <canvas baseChart class="chart" [data]="pieChartData" [type]="pieChartType" [options]="pieChartOptions"
              [plugins]="pieChartPlugins">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="container-fluid">
  <div class="row pt-4">
    <div class="col-md-12 text-center mb-2" style="text-align: center;">
      <small> ©2022 CopyRight
        <span class="text-secondary font-weight-bold">Elizandro Dev. </span>
      </small>
    </div>
  </div>
</div>