<p-card header="Productos Servicios - Impuestos Estatales">
   
    <p-divider align="left">
        <div class="inline-flex align-items-center">
            <i class="pi pi-user mr-2"></i>
            <b>Funciones Usuario:</b>
        </div>
    </p-divider>
    <button type="button" (click)="Almacenar()" [disabled]="BtnSpinner"
        pTooltip="Actualizamos Los Impuestos Del Producto" tooltipPosition="bottom" class="btn btn-outline-primary">
        Guardar Informacion <i class="pi pi-spin pi-cog"></i>
        <p-progressSpinner *ngIf="BtnSpinner" styleClass="w-4rem h-4rem" strokeWidth="8"
        fill="var(--surface-ground)" animationDuration=".5s">
    </p-progressSpinner>
    </button>
    <p-divider></p-divider>
   
    <p-pickList [source]="sourceImpuestosEstatales" [target]="targetImpuestosEstatales" sourceHeader="Disponibles" targetHeader="Asignados" [dragdrop]="true" [responsive]="true" [sourceStyle]="{ height: '30rem' }"
        [targetStyle]="{ height: '30rem' }" 
        filterBy="descripcion" 
        sourceFilterPlaceholder="Buscar" 
        targetFilterPlaceholder="Buscar" 
        breakpoint="1400px"
        (onMoveToTarget)="onMoveToTarget($event)"
        (onMoveToSource)="onMoveToSource($event)"
        (onMoveAllToTarget)="onMoveAllToTarget($event)"
        (onMoveAllToSource)="onMoveAllToSource($event)"
       
        >
        
        <ng-template let-impuestos_estatales pTemplate="item">
            <div class="flex flex-wrap p-2 align-items-center gap-3">
                <div class="flex-1 flex flex-column gap-2">
                    <span class="font-bold">{{ impuestos_estatales.descripcion }}</span>
                    <div class="flex align-impuestos_estataless-center gap-2">
                        <i class="pi pi-tag text-sm"></i>
                        <span>{{ impuestos_estatales.descripcion }}</span>
                    </div>
                </div>
                <span class="font-bold text-900">{{ '$' + impuestos_estatales.descripcion }}</span>
            </div>
        </ng-template>
    </p-pickList>
</p-card>


<p-card header="Productos Servicios - Impuestos Federales">
    <p-pickList [source]="sourceImpuestosFederales" [target]="targetImpuestosFederales" sourceHeader="Disponibles" targetHeader="Asignados" [dragdrop]="true" [responsive]="true" [sourceStyle]="{ height: '30rem' }"
        [targetStyle]="{ height: '30rem' }" filterBy="name" sourceFilterPlaceholder="Buscar" targetFilterPlaceholder="Buscar" breakpoint="1400px">
        <ng-template let-product pTemplate="item">
            <div class="flex flex-wrap p-2 align-items-center gap-3">
                <img class="w-4rem shadow-2 flex-shrink-0 border-round" src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}" alt="{item.name}" />
                <div class="flex-1 flex flex-column gap-2">
                    <span class="font-bold">{{ product.name }}</span>
                    <div class="flex align-products-center gap-2">
                        <i class="pi pi-tag text-sm"></i>
                        <span>{{ product.category }}</span>
                    </div>
                </div>
                <span class="font-bold text-900">{{ '$' + product.price }}</span>
            </div>
        </ng-template>
    </p-pickList>
</p-card>
