  <mat-card style=" margin-bottom: 10px;">
    <mat-card-content >
        <h1 style="text-align: center;"><b>KPIS:</b></h1>
        <mat-divider></mat-divider>  
    </mat-card-content>
  </mat-card>

<div class="content-graphs">
  <mat-card *ngFor="let item of data" style="margin-left: 15px; margin-bottom: 20px;">
    <mat-card-content >
          <div [innerHTML]="item.nombre" [style]="item.stylenombre">
            <a [routerLink]="['/ControlVentas/venta']"></a>
          </div>
          <div [innerHTML]="item.descripcion" [style]="item.styledescripcion"></div>
          <div [innerHTML]="item.observaciones" [style]="item.styleobservaciones"></div>
        <mat-divider></mat-divider>  
    </mat-card-content>
  </mat-card>
</div>

<div class="container-fluid">
  <div class="row pt-4">
      <div class="col-md-12 text-center mb-2" style="text-align: center;">
          <small> ©2022 CopyRight
              <span class="text-secondary font-weight-bold">Elizandro Dev. </span>
          </small>
      </div>
  </div>
</div>

