span.one {
    border-style: solid;
    background-color: whitesmoke;
    border-color: #02735E;
    border-width: 2px;
  }
  
  input.inputOne {
    border-style: solid;
    background-color: white;
    border-color: #02735E;
    border-width: 2px;
  }

  label.labelOne {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: initial;
    color: black;
  }
  