<mat-card>
    <mat-card-content>
        <h1 style="text-align: center;"><b>Sat</b></h1>
        <!-- Agregar Informcion del formulario -->
        <form [formGroup]="frmSat" autocomplete="off">
            <div class="row">
                <div class="col-sm-3">
                    <label><b>Catlogo:</b></label>
                    <select disabled class="form-select">
                        <option selected>Sat Producto Servicio</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <label><b>Descripcion / Codigo:</b></label>
                    <input formControlName="descripcion" type="text" class="form-control" placeholder="Buscar ">
                    <span *ngIf="frmSat.controls['descripcion'].invalid"><b style=" color: rgb(235, 56, 29);">* Campo
                            Requerido</b></span>
                </div>
                <hr>
                <div class="col-sm-3">
                    <button type="submit" (click)="buscarinfo()" [disabled]="frmSat.invalid"
                        title="Realizar busqueda Buscar" class="btn btn-outline-primary">
                        <i class="fa-sharp fa-solid fa-magnifying-glass"></i> Guardar
                    </button>

                </div>
            </div>
        </form>
        <hr>
    </mat-card-content>
</mat-card>

<hr>
<p-card *ngIf="DataSource != null " header="Busqueda">
    <p-table [value]="DataSource" dataKey="id" [tableStyle]="{ 'min-width': '75rem' }"
        (selectionChange)="onSelectionChange($event)" (selectAllChange)="onSelectAllChange($event)" [paginator]="true"
        [rows]="10" [rowsPerPageOptions]="[5,10,25]" [paginator]="true">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem"></th>
                <th pSortableColumn="id">Numero<p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="descripcion">Descripcion<p-sortIcon field="descripcion"></p-sortIcon></th>
                <th pSortableColumn="codigo">Codigo<p-sortIcon field="codigo"></p-sortIcon></th>
                <th pSortableColumn="similares">Similares<p-sortIcon field="similares"></p-sortIcon></th>
                <th pSortableColumn="peligroso">Peligroso<p-sortIcon field="peligroso"></p-sortIcon></th>
                <th pSortableColumn="activo">Activo<p-sortIcon field="activo"></p-sortIcon></th>
            </tr>
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>
                    <p-columnFilter type="text" field="id"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="descripcion"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="codigo"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="similares"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="peligroso"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="activo"></p-columnFilter>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-DataSource>
            <tr>
                <td>
                    <p-tableCheckbox [value]="DataSource"></p-tableCheckbox>
                </td>
                <td>{{ DataSource.id }}</td>
                <td>{{ DataSource.descripcion }}</td>
                <td>{{ DataSource.codigo }}</td>
                <td>{{ DataSource.similares }}</td>
                <td>{{ DataSource.peligroso }}</td>
                <td>{{ DataSource.activo }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No se encontraron registros.</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>