<h1>Pacientes:</h1>
<form [formGroup]="myForm" autocomplete="off">
    <div class="row">
        <div class="col-sm-6">
            <mat-form-field color="accent">
                <input (dateInput)="seleccionarFecha1($event.target)" formControlName="fecha1"
                    placeholder="Seleccionar Fecha" matInput [matDatepicker]="picker1">
                <mat-hint>Fecha Inicio</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field color="accent">
                <input (dateInput)="seleccionarFecha2($event.target)" placeholder="Seleccionar Fecha"
                    formControlName="fecha12" matInput [matDatepicker]="picker2">
                <mat-hint>Fecha Final</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary"></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <hr>
        <button (click)="btnBuscarPacientes()" [disabled]="BtnSpinner" type="button"
            class="btn btn-outline-success" title="Realizar Busqueda">Buscar Pacientes
            <span *ngIf="BtnSpinner" class="spinner-border spinner-border-sm" role="status"></span>
        </button>
    
</form>

<div class="container-fluid">
    <div class="row pt-4">
        <div class="col-md-12 text-center mb-2" style="text-align: center;">
            <small> ©2022 CopyRight
                <span class="text-secondary font-weight-bold">Elizandro Dev. </span>
            </small>
        </div>
    </div>
</div>